form label {
  display: inline-block;
}
form input {
  margin-left: 5px;
  border: 1px solid #999;
  border-radius: 3px;
  display: inline-block;
  padding: 5px;
  font-size: 16px;
}
form input[type=submit] {
  border: none;
  background-color: #37a15f;
  color: #FFF;
  padding: 7px;
  border-radius: 3px;
  font-size: 14px;
  display: inline-block;
}

.result {
  margin-top: 40px;
}

pre {
  background-color: #CCC;
  padding: 15px;
  border-radius: 3px;
  box-shadow: 1px 1px 5px #000;
  white-space: pre-wrap;
  word-break: break-word;
}

.thumbnailUrl {
  position: absolute;
  right: 25px;
  top: 105px;
  border: 1px solid #CCC;
  border-radius: 5px;
}

@media only screen and (max-width: 375px) {
  form input[type=text] {
    width: 150px;
  }
}

@media only screen and (max-width: 768px) {
  form {
    text-align: center;
  }
  .thumbnailUrl {
    position: initial;
    right: auto;
    top: auto;
    border: 1px solid #CCC;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
    margin-bottom: 40px;
  }
}